# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/

# Mac system files
.DS_Store
__MACOSX/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Cache and temporary files
cache/
*.log

# Large/raw local data files
data/input/*.csv
data/input/*.zip
